.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
.vscode

# Configurações de deploy (local)
.env.deploy

# Arquivos gerados
scripts/.config.generated.sh
scripts/*.service
