<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>IP</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="ipTableBody">
        </tbody>
    </table>

    <script>
        async function fetchIpStatus(){

            const response = await fetch('/api/ip-status');

            if(response.status !== 200){
                console.error('Falhou para obter os dados dos IPs');
                setTimeout(fetchIpStatus, 5000);
                return;
            }
            else{
                const data = await response.json();
                const tbody = document.getElementById('ipTableBody');
                tbody.innerHTML = '';  // Limpa a tabela antes de inserir novos elementos

                data.forEach(item => {
                    if(item.status ==='off'){ 
                        const row = document.createElement('tr');
                        const ipCell = document.createElement('td');

                        ipCell.textContent = item.ip;
                        row.appendChild(ipCell);

                        const statusCell = document.createElement('td');
                        const circle = document.createElement('span');
                        circle.classList.add('circle','red');
                        statusCell.appendChild(circle);
                        row.appendChild(statusCell);

                        tbody.appendChild(row);
                    }
                });
            }
        }
        // atualiza a tabela a cada 5 minutos
        setInterval(fetchIpStatus, 300000);
        fetchIpStatus();  // Chama a função pela primeira vez
        
    </script>
</body>
</html>
