<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <label for="vlanSelect">Select VLAN:</label>
        <select id="vlanSelect">
            <option value="70">VLAN 70</option>
            <option value="80">VLAN 80</option>
            <option value="85">VLAN 85</option>
            <option value="86">VLAN 86</option>
            <option value="200">VLAN 200</option>
            <option value="204">VLAN 204</option>
        </select>
        <button onclick="searchByVlan()">Search</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>IP</th>
                <th>Status</th>
                <th>IP</th>
                <th>Status</th>
                <th>IP</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="ipTableBody">
        </tbody>
    </table>
    
    <div id="mensagem_preliminar" class="center" >Aguardando obtenção de dados...</div>

    <script>
        async function fetchIpStatus(){

            
            const response = await fetch('/api/ip-status');

            if(response.status !== 200){
                console.error('Falhou para obter os dados dos IPs');
                setTimeout(fetchIpStatus, 5000);
                return;
            }
            else{
                mensagem_preliminar.textContent = ``;
                
                const data = await response.json();
                const tbody = document.getElementById('ipTableBody');
                tbody.innerHTML = '';  // Limpa a tabela antes de inserir novos elementos

                for (let i = 0; i < data.length; i += 3) {
                    const row = document.createElement('tr');

                    for (let j = 0; j < 3; j++) {
                        const ipCell = document.createElement('td');
                        const statusCell = document.createElement('td');
                        const circle = document.createElement('span');

                        if (data[i + j]) {
                            ipCell.textContent = data[i + j].ip;
                            circle.classList.add('circle','red');
                        }

                        statusCell.appendChild(circle);
                        row.appendChild(ipCell);
                        row.appendChild(statusCell);
                    }

                    tbody.appendChild(row);
                }
            }
        }

        document.getElementById("vlanSelect").addEventListener("change", function() {
            localStorage.setItem("selectedOption", this.value);
        });

        // When the page loads, retrieve and set the selected option from localStorage
        window.onload = function() {
            const savedOption = localStorage.getItem("selectedOption");
            if (savedOption) {
                document.getElementById("vlanSelect").value = savedOption;
            }
        };
        function searchByVlan() {
            const vlanSelect = document.getElementById('vlanSelect');
            const vlan = encodeURIComponent(vlanSelect.value);  
            const start_search = fetch(`/start-check/${vlan}`)
            
            if(start_search.status = 200)
                fetchIpStatus();
                location.reload();
        }
        
        setInterval(fetchIpStatus, 30000);
        
        
        
        
    </script>
</body>
</html>
