<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Status</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="vlan-container">
        <label class="vlan-label" for="vlanSelect">Selecione a VLAN:</label>
        <select id="vlanSelect">
            <option value="70">VLAN 70</option>
            <option value="80">VLAN 80</option>
            <option value="85">VLAN 85</option>
            <option value="86">VLAN 86</option>
            <option value="200">VLAN 200</option>
            <option value="204">VLAN 204</option>
        </select>
        <!-- <button class="button" id="searchButton" onclick="searchByVlan()">Pesquisar</button> -->
        <button class="button" id="returnButton" onclick="window.location.href='/'">Página inicial</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>IP</th>
                <th>Status</th>
                <th>Descrição</th>
                <th>IP</th>
                <th>Status</th>
                <th>Descrição</th>
                <th>IP</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="ipTableBody">
        </tbody>
    </table>
    
    <div id="mensagem_preliminar" class="center" >Aguardando obtenção de dados...</div>

    <script src ="static/index.js"></script>
</body>
</html>
